.search {
    width: 7.5rem;
    height: calc(var(--size-header) - 1.5rem);

    margin: 0.5rem 0 0 0;
    padding: 0.25rem 0.5rem;

    position: relative;
    float: right;

    color: white;
    font-size: 0.5rem;
    font-weight: 900;
    line-height: calc(var(--size-header) - 1.5rem);
    
    background: var(--color-30);
    border: none;
    border-radius: 0.5rem;

    opacity: 0.5;

    cursor: pointer;
    outline: none;
}

.search:focus {
    opacity: 1;
}