.header {
    width: calc(100% - var(--size-nav));
    height: var(--size-header);

    position: absolute;
    top: 0;
    left: var(--size-nav);

    background-color: var(--color-80);
}

.header-new,
.header-new-active {
    width: 1rem;
    height: 1rem;

    margin: calc((var(--size-header) - 1.5rem) / 2) 0 0 calc((var(--size-header) - 1.5rem) / 2);
    padding: 0.25rem;

    position: relative;
    float: left;

    color: #C0C0C0;
    
    background: var(--color-30);
    border-radius: 50%;

    cursor: pointer;
    outline: none;
}

.header-new-active {
    color: #303030;
    background-color: #909090;
}

.header-setting,
.header-setting-active {
    width: 1rem;
    height: 1rem;

    margin: calc((var(--size-header) - 1.5rem) / 2);
    padding: 0.25rem;

    position: relative;
    float: right;

    color: #C0C0C0;
    
    background: var(--color-30);
    border-radius: 50%;

    cursor: pointer;
    outline: none;
}

.header-setting-active {
    color: #303030;
    background-color: #909090;
}