.body {
    width: calc(100% - var(--size-nav) - 2rem);
    height: calc(100% - var(--size-header) - 2rem);

    padding: 1rem;

    overflow-x: hidden;
    overflow-y: scroll;

    position: absolute;
    top: var(--size-header);
    left: var(--size-nav);

    background-color: var(--color-30);
}

.body-header {
    width: calc(100% - 1rem);
    height: 1rem;

    margin-bottom: 0.5rem;

    position: relative;
    float: left;

    color: #404040;
    font-size: 0.55rem;
    font-weight: 900;
}

.body-format {
    width: 6rem;
    height: 100%;

    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%, 0);
}

.body-format-description {
    width: 3.5rem;
    height: 100%;

    margin-right: 0.5rem;

    position: relative;
    float: left;

    color: #606060;
    font-size: 0.5rem;
    font-weight: 700;
    text-align: right;
    line-height: 1rem;
}

.body-format-toggle-box,
.body-format-toggle-box-active {
    width: 2rem;
    height: 100%;

    position: relative;
    float: left;

    background-color: var(--color-20);
    border-radius: 1rem;

    transition: 0.5s;

    cursor: pointer;
}

.body-format-toggle-box-active {
    background-color: #009688;
}

.body-format-toggle-button,
.body-format-toggle-button-active {
    width: 1rem;
    height: 1rem;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--color-50);
    border-radius: 50%;

    transition: 0.5s;

    cursor: pointer;
}

.body-format-toggle-button-active {
    left: 50%;
}

.body-body {
    width: 100%;
    height: auto;

    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;

    position: relative;
    float: left;

    border: solid 0.05rem var(--color-20);
    box-sizing: border-box;
}