.searchbar {
    width: 7.5rem;
    height: calc(var(--size-header) - 1.6rem);

    margin: 0.5rem 0.5rem 0 0;
    padding: 0.25rem 0.5rem;

    position: relative;
    float: right;

    color: #C0C0C0;
    font-size: 0.5rem;
    font-weight: 900;
    line-height: calc(var(--size-header) - 1.55rem);
    
    background: var(--color-30);
    border: solid 0.05rem var(--color-50);
    border-radius: 0.5rem;

    cursor: pointer;
    outline: none;
}