.header {
    width: calc(100% - var(--size-nav));
    height: var(--size-header);

    position: absolute;
    top: 0;
    left: var(--size-nav);

    background-color: var(--color-80);
}

.header-setting,
.header-setting-active {
    width: 1rem;
    height: 1rem;

    margin: calc((var(--size-header) - 1.5rem) / 2);
    padding: 0.25rem;

    position: relative;
    float: right;

    color: white;
    
    background: var(--color-30);
    border-radius: 50%;

    opacity: 0.5;

    cursor: pointer;
    outline: none;
}

.header-setting-active {
    opacity: 1;
}

.header-menu,
.header-menu-active {
    width: auto;
    height: calc(var(--size-header) - 1rem);

    margin: 0.5rem 0 0 0.5rem;
    padding: 0.25rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.5rem;
    font-weight: 500;
    line-height: calc(var(--size-header) - 1.65rem);
    
    border: solid 0.1rem white;
    border-radius: 0.5rem;
    box-sizing: border-box;

    opacity: 0.5;

    cursor: pointer;
}

.header-menu-active {
    font-weight: 900;
    opacity: 1;
}

.header-mode {
    width: 6rem;
    height: 1rem;

    margin-top: calc((var(--size-header) - 1rem) / 2);
    margin-right: 0.5rem;

    position: relative;
    float: right;
}

.header-mode-description {
    width: 3.5rem;
    height: 100%;

    margin-right: 0.5rem;

    position: relative;
    float: left;

    color: white;
    font-size: 0.5rem;
    font-weight: 700;
    text-align: right;
    line-height: 1rem;

    opacity: 0.5;
}

.header-mode-toggle-box,
.header-mode-toggle-box-active {
    width: 2rem;
    height: 100%;

    position: relative;
    float: left;

    background-color: var(--color-20);
    border-radius: 1rem;

    transition: 0.5s;

    cursor: pointer;
}

.header-mode-toggle-box-active {
    background-color: #009688;
}

.header-mode-toggle-button,
.header-mode-toggle-button-active {
    width: 1rem;
    height: 1rem;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--color-50);
    border-radius: 50%;

    transition: 0.5s;

    cursor: pointer;
}

.header-mode-toggle-button-active {
    left: 50%;
}

.header-search {
    width: 7.5rem;
    height: calc(var(--size-header) - 1.5rem);

    margin: 0.5rem 0 0 0;
    padding: 0.25rem 0.5rem;

    position: relative;
    float: right;

    color: white;
    font-size: 0.5rem;
    font-weight: 900;
    line-height: calc(var(--size-header) - 1.5rem);
    
    background: var(--color-30);
    border: none;
    border-radius: 0.5rem;

    opacity: 0.5;

    cursor: pointer;
    outline: none;
}

.header-search:focus {
    opacity: 1;
}