.menu {
    width: auto;
    height: calc(var(--size-header) - 1.6rem);

    margin: 0.5rem 0 0 0.5rem;
    padding: 0.25rem;

    position: relative;
    float: left;

    color: #B0B0B0;
    font-size: 0.5rem;
    font-weight: 900;
    line-height: calc(var(--size-header) - 1.55rem);
    
    border: solid 0.05rem #B0B0B0;
    border-radius: 0.5rem;

    cursor: pointer;
}