.menu {
    width: auto;
    height: calc(var(--size-header) - 1.6rem);

    margin: 0.5rem 0 0 0.5rem;
    padding: 0.25rem;

    position: relative;
    float: left;

    color: #909090;
    font-size: 0.5rem;
    font-weight: 900;
    line-height: calc(var(--size-header) - 1.55rem);
    
    border: solid 0.05rem #909090;
    border-radius: 0.5rem;

    cursor: pointer;
}

.menu-active {
    width: auto;
    height: calc(var(--size-header) - 1.5rem);

    margin: 0.5rem 0 0 0.5rem;
    padding: 0.25rem;

    position: relative;
    float: left;

    color: #303030;
    font-size: 0.5rem;
    font-weight: 900;
    line-height: calc(var(--size-header) - 1.5rem);
    
    background-color: #909090;
    border-radius: 0.5rem;

    cursor: pointer;
}